@{
    ViewData["Title"] = "Index2";
}

<div class="sc-iyKzIA uEZbG">
    <div class="sc-dEgOyr coPszT">
        <div class="sc-iznttV DmKWa">
            <div class="sc-mTeDU gCguBt">Ürün Kategorisi / Komisyon</div>
            <div class="sc-eGPSjg hPKJkq">
                <div class="sc-RryNr fClylO">
                    <input type="text" placeholder="Ürün Kategorisi Ara"
                           class="sc-iopHby iIYpVA" value="">
                    <div class="sc-OzCKV eBqAuE"></div>
                </div>
            </div>
            <div class="sc-cDmekj fUciRE">
                <span>Komisyon Oranı:</span><span class="sc-gbQDia dHfCIE">%</span><span class="sc-cAuihN kWjYwh">0</span>
            </div>
        </div>
        <div class="sc-gaeMpf jylnEA">
            <div class="sc-mTeDU gCguBt">Alış Fiyatı</div>
            <div class="sc-gkyvqJ jtslPu">
                <input type="text" inputmode="decimal" class="sc-dHhosm fKJtan" value="0">
                <div class="sc-czvCq dneksT">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 5 215 287.5">
                        <path d="M54.3355 9.3092c16.0514,0 25.3755,0 27.972,0 0,2.8326 0,14.9893 0,36.4699 0,21.4807 0,33.5193 0,36.1159l84.9785 -30.8047c0,8.2618 0,15.6974 0,22.3068l-84.9785 30.8047c0,0.9442 0,2.9507 0,6.0193 0,3.0687 0,5.0751 0,6.0193l46.03 -16.2875 38.9485 -14.5171c0,1.4163 0,5.016 0,10.7993 0,5.7833 0,9.265 0,10.4453 0,0.9442 -0.2361,1.4163 -0.7082,1.4163l-81.7917 29.3884c-0.9442,0.4721 -1.7704,0.9442 -2.4786,1.4163 0,14.3991 0,34.2864 0,59.6619 0,25.3755 0,45.2629 0,59.662 0,0 0,0.118 0,0.3541 0,0.236 0,0.354 0,0.354 21.4807,-2.5965 40.4828,-10.7403 57.0064,-24.4313 18.176,-14.8712 30.3326,-33.4012 36.4699,-55.59 2.5966,-10.1502 3.8949,-20.3004 3.8949,-30.4507 0,0 9.442,0 28.3261,0 0,22.897 -5.5472,44.4957 -16.6416,64.7961 -7.7897,15.5794 -18.412,29.0343 -31.8669,40.3648 -12.5107,11.0944 -26.5558,19.5922 -42.1352,25.4935 -20.3004,7.7897 -41.3089,10.5043 -63.0256,8.1438 0,-15.3433 0,-38.3583 0,-69.045 0,-30.6867 0,-53.8197 0,-69.3991 0,0 -1.5344,0.5902 -4.603,1.7704l-48.5086 17.3498c0,-7.0816 0,-14.5172 0,-22.3069l53.1116 -19.1201c0,-1.4163 0,-5.5472 0,-12.3927 -2.5966,1.1802 -6.0784,2.5966 -10.4453,4.2489 -4.367,1.6524 -7.1406,2.5966 -8.3208,2.8326l-27.9721 10.2683c0,0 -0.7672,0.236 -2.3015,0.7081 -1.5343,0.4721 -2.8916,0.8262 -4.0719,1.0622 0,-11.3304 0,-18.766 0,-22.3068l53.1116 -18.7661c0,-10.3862 0,-24.1952 0,-41.427 0,-17.2317 0,-31.0407 0,-41.427z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="sc-jGyvXW jpwvq">
                <label class="sc-jDGzVA uhEwC">
                    <input type="checkbox" checked=""
                           class="sc-dZrFBT kfpJDd"><span class="sc-gfcaXJ fNMRYc"></span>
                </label><label class="sc-hxWezK kHfocE">KDV Dahil</label>
            </div>
        </div>
        <div class="sc-gaeMpf jylnEA">
            <div class="sc-mTeDU gCguBt">Satış Fiyatı (KDV Dahil)</div>
            <div class="sc-gkyvqJ eoqduo">
                <input type="text" inputmode="decimal" class="sc-dHhosm fKJtan" value="0">
                <div class="sc-czvCq dneksT">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 5 215 287.5">
                        <path d="M54.3355 9.3092c16.0514,0 25.3755,0 27.972,0 0,2.8326 0,14.9893 0,36.4699 0,21.4807 0,33.5193 0,36.1159l84.9785 -30.8047c0,8.2618 0,15.6974 0,22.3068l-84.9785 30.8047c0,0.9442 0,2.9507 0,6.0193 0,3.0687 0,5.0751 0,6.0193l46.03 -16.2875 38.9485 -14.5171c0,1.4163 0,5.016 0,10.7993 0,5.7833 0,9.265 0,10.4453 0,0.9442 -0.2361,1.4163 -0.7082,1.4163l-81.7917 29.3884c-0.9442,0.4721 -1.7704,0.9442 -2.4786,1.4163 0,14.3991 0,34.2864 0,59.6619 0,25.3755 0,45.2629 0,59.662 0,0 0,0.118 0,0.3541 0,0.236 0,0.354 0,0.354 21.4807,-2.5965 40.4828,-10.7403 57.0064,-24.4313 18.176,-14.8712 30.3326,-33.4012 36.4699,-55.59 2.5966,-10.1502 3.8949,-20.3004 3.8949,-30.4507 0,0 9.442,0 28.3261,0 0,22.897 -5.5472,44.4957 -16.6416,64.7961 -7.7897,15.5794 -18.412,29.0343 -31.8669,40.3648 -12.5107,11.0944 -26.5558,19.5922 -42.1352,25.4935 -20.3004,7.7897 -41.3089,10.5043 -63.0256,8.1438 0,-15.3433 0,-38.3583 0,-69.045 0,-30.6867 0,-53.8197 0,-69.3991 0,0 -1.5344,0.5902 -4.603,1.7704l-48.5086 17.3498c0,-7.0816 0,-14.5172 0,-22.3069l53.1116 -19.1201c0,-1.4163 0,-5.5472 0,-12.3927 -2.5966,1.1802 -6.0784,2.5966 -10.4453,4.2489 -4.367,1.6524 -7.1406,2.5966 -8.3208,2.8326l-27.9721 10.2683c0,0 -0.7672,0.236 -2.3015,0.7081 -1.5343,0.4721 -2.8916,0.8262 -4.0719,1.0622 0,-11.3304 0,-18.766 0,-22.3068l53.1116 -18.7661c0,-10.3862 0,-24.1952 0,-41.427 0,-17.2317 0,-31.0407 0,-41.427z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="sc-jEMFfb WEawe">
            <div class="sc-dRAXtQ eInmRM">KDV Miktarı</div>
            <div class="sc-jPgogF cgArGS">
                <button type="button" class="sc-byEWUa hDMssA">%20</button><button type="button" class="sc-byEWUa cuTklM">
                    %10
                </button><button type="button"
                                 class="sc-byEWUa cuTklM">
                    %1
                </button><button type="button" class="sc-byEWUa cuTklM">Diğer</button>
            </div>
        </div>
        <div class="sc-cabyH gORmlX">
            <div class="sc-lcFgVe iOrftE">
                <label class="sc-benxkF evPfyo">
                    <input type="radio" checked=""
                           class="sc-PwTig hpGpvv"><span>Kargo Satıcıya Ait</span>
                </label>
            </div>
            <div class="sc-lcFgVe iOrftE">
                <label class="sc-benxkF evPfyo">
                    <input type="radio"
                           class="sc-PwTig hpGpvv"><span>Kargo Alıcıya Ait</span>
                </label>
            </div>
        </div>
        <div class="sc-gaeMpf jylnEA">
            <div class="sc-mTeDU gCguBt">Kargo Ücreti</div>
            <div class="sc-gkyvqJ jtslPu">
                <input type="text" inputmode="decimal" class="sc-dHhosm fKJtan" value="0">
                <div class="sc-czvCq dneksT">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 5 215 287.5">
                        <path d="M54.3355 9.3092c16.0514,0 25.3755,0 27.972,0 0,2.8326 0,14.9893 0,36.4699 0,21.4807 0,33.5193 0,36.1159l84.9785 -30.8047c0,8.2618 0,15.6974 0,22.3068l-84.9785 30.8047c0,0.9442 0,2.9507 0,6.0193 0,3.0687 0,5.0751 0,6.0193l46.03 -16.2875 38.9485 -14.5171c0,1.4163 0,5.016 0,10.7993 0,5.7833 0,9.265 0,10.4453 0,0.9442 -0.2361,1.4163 -0.7082,1.4163l-81.7917 29.3884c-0.9442,0.4721 -1.7704,0.9442 -2.4786,1.4163 0,14.3991 0,34.2864 0,59.6619 0,25.3755 0,45.2629 0,59.662 0,0 0,0.118 0,0.3541 0,0.236 0,0.354 0,0.354 21.4807,-2.5965 40.4828,-10.7403 57.0064,-24.4313 18.176,-14.8712 30.3326,-33.4012 36.4699,-55.59 2.5966,-10.1502 3.8949,-20.3004 3.8949,-30.4507 0,0 9.442,0 28.3261,0 0,22.897 -5.5472,44.4957 -16.6416,64.7961 -7.7897,15.5794 -18.412,29.0343 -31.8669,40.3648 -12.5107,11.0944 -26.5558,19.5922 -42.1352,25.4935 -20.3004,7.7897 -41.3089,10.5043 -63.0256,8.1438 0,-15.3433 0,-38.3583 0,-69.045 0,-30.6867 0,-53.8197 0,-69.3991 0,0 -1.5344,0.5902 -4.603,1.7704l-48.5086 17.3498c0,-7.0816 0,-14.5172 0,-22.3069l53.1116 -19.1201c0,-1.4163 0,-5.5472 0,-12.3927 -2.5966,1.1802 -6.0784,2.5966 -10.4453,4.2489 -4.367,1.6524 -7.1406,2.5966 -8.3208,2.8326l-27.9721 10.2683c0,0 -0.7672,0.236 -2.3015,0.7081 -1.5343,0.4721 -2.8916,0.8262 -4.0719,1.0622 0,-11.3304 0,-18.766 0,-22.3068l53.1116 -18.7661c0,-10.3862 0,-24.1952 0,-41.427 0,-17.2317 0,-31.0407 0,-41.427z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="sc-jGyvXW jpwvq">
                <label class="sc-jDGzVA uhEwC">
                    <input type="checkbox" checked=""
                           class="sc-dZrFBT kfpJDd"><span class="sc-gfcaXJ fNMRYc"></span>
                </label><label class="sc-hxWezK kHfocE">KDV Dahil</label>
            </div>
        </div>
        <div class="sc-jWqliQ cgUdJH"></div><button class="sc-dGHUoD dBCjbw">Hesapla</button><button class="sc-drRqme XejSM">
            <div class="sc-klgPlp cFkGaK">
                <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                    <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                        <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
                             alt="" aria-hidden="true"
                             src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e">
                    </span><img alt="Clear" src="/images/trash-black-icon.svg" decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcset="/images/trash-black-icon.svg 1x, /images/trash-black-icon.svg 2x">
                </span><span>Temizle</span>
            </div>
        </button>
        <hr class="sc-WymzF hzoTLd">
    </div>
    <div class="sc-lbeWMy kGAKO">
        <div class="sc-mGooh fabgos">
            <h2 class="sc-hJEwCo iNlhxx">Hesaplama Sonucu</h2>
            <div class="sc-bHDJZS hDEojm">
                Sonucu görmek için tutar girip<span style="color:#131318"> “Hesapla” </span>
                butonuna basın
            </div>
            <div class="sc-kgblez kPBoJK">
                <div class="sc-bELNXw hbzPTc">
                    <div class="sc-cvnuvz dFFehO">Satış Fiyatı<span class="sc-fjtGNs jlQBcB">KDV Dahil</span></div>
                    <div class="sc-iCfpwr eGsyrB"><span>₺0,00</span></div>
                </div>
                <div class="sc-bELNXw hbzPTc">
                    <div class="sc-cvnuvz dFFehO">Satış Fiyatı<span class="sc-fjtGNs jlQBcB">KDV Hariç</span></div>
                    <div class="sc-iCfpwr eGsyrB"><span>₺0,00</span></div>
                </div>
                <div class="sc-eJHOlC cspPIp"></div>
            </div>
        </div>
        <hr class="sc-WymzF kOzTuV">
        <div class="sc-jdUHtK jzfMta">
            <div class="react-reveal" style="opacity:0">
                <a href="https://accounts.ikas.com/register/tr" target="_blank"
                   class="sc-dMeoHD fJcUtJ" rel="nofollow">
                    <span class="sc-jSWybI eAULM">
                        Düşük komisyon oranlarıyla
                        <span>daha fazla kar edin!</span>
                    </span><a href="https://accounts.ikas.com/register/tr"
                              target="_blank" class="sc-eyHTTJ fUKhkk" rel="nofollow">E ticaret Sitenizi Açın!</a>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .uEZbG {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 30px;
        overflow: hidden;
        border-radius: 12px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 36px 0px;
        backdrop-filter: blur(11.5px);
        padding: 64px;
        width: 100%;
        height: 900px;
        max-width: 1080px;
        margin: 0px auto;
    }

    body {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
        font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    }

    :root {
        --swiper-navigation-size: 44px;
        --swiper-theme-color: #007aff;
    }

    .coPszT {
        padding: 0px 32px;
        width: 100%;
        max-width: 446px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    div {
        display: block;
    }

    .kGAKO {
        border-radius: 4px;
        width: 100%;
        max-width: 460px;
        background: rgb(247, 247, 248);
        height: 570px;
    }

    .fabgos {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 400px;
        background-image: url(/images/phone-container.png);
        background-repeat: no-repeat;
        padding: 90px 60px 0px 40px;
        background-size: cover;
        object-position: center center;
        margin: 0px auto;
    }

    .iNlhxx {
        color: rgb(48, 52, 255);
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
    }

    .kOzTuV {
        display: none;
    }

    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }

        .jzfMta div {
            width: 100%;
            margin: 0px auto;
        }

    .fJcUtJ {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;
        background: rgb(255, 243, 227);
        margin: 0px auto;
        width: 100%;
        transition: all 400ms ease 0s;
    }

    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }

    .jzfMta {
        width: 100%;
        margin: 28px auto 0px;
        -webkit-box-pack: center;
        justify-content: center;
        height: 176px;
        display: flex;
        visibility: hidden;
    }

    .fUKhkk {
        padding: 12px 24px;
        color: rgb(255, 255, 255);
        border-radius: 28px;
        background: rgb(19, 19, 24);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        transition: all 200ms ease 0s;
    }

    .eAULM {
        display: flex;
        flex-direction: column;
        color: rgb(19, 19, 24);
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        width: 100%;
        max-width: 250px;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .hDEojm {
        color: rgb(87, 87, 91);
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .kPBoJK {
        margin-top: 16px;
    }

    .hbzPTc {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 14px;
    }

    .cspPIp {
        border-top: 1px solid rgb(161, 163, 175);
        margin: 16px 0px;
    }

    .eGsyrB {
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        line-height: 26px;
        color: rgb(19, 19, 24);
        font-weight: 500;
    }

    .dFFehO {
        font-size: 16px;
        line-height: 26px;
        color: rgb(19, 19, 24);
        font-weight: 500;
    }

    .jlQBcB {
        margin-left: 4px;
        font-size: 12px;
        color: rgb(116, 117, 129);
    }

    .XejSM {
        margin-top: 12px;
        padding: 12px 24px;
        cursor: pointer;
        border: 1px solid rgb(19, 19, 24);
        outline: none;
        background: none;
        border-radius: 28px;
        width: 100%;
        transition-duration: 200ms;
        color: rgb(19, 19, 24);
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
    }

    .cFkGaK {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        gap: 6px;
    }

    .dBCjbw {
        padding: 12px 24px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: rgb(48, 52, 255);
        border-radius: 28px;
        width: 100%;
        transition-duration: 200ms;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    .cgUdJH {
        margin: 10px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 8px;
        color: rgb(239, 81, 108);
        fill: rgb(239, 81, 108);
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        height: 25px;
    }

    .jylnEA {
        position: relative;
        margin-top: 24px;
    }

    .gCguBt {
        color: rgb(19, 19, 24);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .uhEwC input {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .jtslPu {
        position: relative;
        margin-top: 8px;
        border: 1px solid rgb(116, 117, 129);
        fill: rgb(87, 87, 91);
        transition-duration: 100ms;
        border-radius: 8px;
        box-sizing: border-box;
        height: 52px;
        color: rgb(87, 87, 91);
    }

    .uhEwC {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 20px;
    }

    svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: hidden;
    }

    .jtslPu input {
        width: 70%;
    }

    .gORmlX {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 24px;
    }

    .fKJtan {
        background: none;
        border: none;
        outline: none;
        width: inherit;
        height: 100%;
        padding: 18px 30px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        transition-duration: 100ms;
        color: inherit;
    }

    .dneksT {
        position: absolute;
        left: 12px;
        top: 16px;
        fill: inherit;
        height: 11px;
        width: 11px;
    }


    .eoqduo {
        position: relative;
        margin-top: 8px;
        border: 1px solid rgb(116, 117, 129);
        fill: rgb(87, 87, 91);
        transition-duration: 100ms;
        border-radius: 8px;
        box-sizing: border-box;
        height: 52px;
        color: rgb(87, 87, 91);
    }

    .eoqduo input {
        width: 100%;
    }

    .jpwvq {
        position: absolute;
        top: 46px;
        right: 12px;
        width: 116px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 5px;
    }

    .kHfocE {
        color: rgb(87, 87, 91);
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        line-height: 24px;
    }

    .uhEwC input:checked + .sc-gfcaXJ {
        background-color: rgb(48, 52, 255);
    }

    .fNMRYc {
        position: absolute;
        cursor: pointer;
        inset: 0px;
        background-color: rgb(85, 91, 106);
        transition: all 0.4s ease 0s;
        border-radius: 34px;
    }

    input[type="checkbox" i] {
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
    }

    input {
        font-style:;
        font-variant-ligatures:;
        font-variant-caps:;
        font-variant-numeric:;
        font-variant-east-asian:;
        font-variant-alternates:;
        font-variant-position:;
        font-weight:;
        font-stretch:;
        font-size:;
        font-family:;
        font-optical-sizing:;
        font-kerning:;
        font-feature-settings:;
        font-variation-settings:;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: field;
        writing-mode: horizontal-tb !important;
        margin: 0em;
        padding: 1px 0px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        padding-block: 1px;
        padding-inline: 2px;
    }

    .uhEwC input:checked + .sc-gfcaXJ::before {
        transform: translateX(12px);
    }

    .fNMRYc::before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: rgb(255, 255, 255);
        transition: all 0.4s ease 0s;
        border-radius: 50%;
    }

    .fUciRE {
        margin: 8px 0px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 3px 8px;
        border-radius: 4px;
        background: rgb(234, 235, 255);
        mix-blend-mode: multiply;
        color: rgb(48, 52, 255);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .dHfCIE {
        margin-left: 4px;
    }

    .eBqAuE {
        position: absolute;
        top: 18px;
        right: 12px;
    }

    .iIYpVA {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 18px 12px;
        box-sizing: border-box;
        transition-duration: 100ms;
        cursor: inherit;
        text-overflow: ellipsis;
        color: rgb(87, 87, 91);
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .fClylO {
        position: relative;
        height: 52px;
        border-radius: 4px;
        border: 1px solid rgb(182, 182, 183);
        background: rgb(255, 255, 255);
    }

    .hPKJkq {
        position: relative;
        margin-top: 8px;
    }

    .cuTklM {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-image: initial;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: rgb(105, 117, 134);
        box-sizing: border-box;
        min-height: 50px;
        flex-basis: 25%;
        border-left: 1px solid rgb(85, 91, 106);
        transition-duration: 100ms;
    }

    .hDMssA:nth-child(1) {
        border: none;
    }

    button {
        appearance: auto;
        font-style:;
        font-variant-ligatures:;
        font-variant-caps:;
        font-variant-numeric:;
        font-variant-east-asian:;
        font-variant-alternates:;
        font-variant-position:;
        font-weight:;
        font-stretch:;
        font-size:;
        font-family:;
        font-optical-sizing:;
        font-kerning:;
        font-feature-settings:;
        font-variation-settings:;
        text-rendering: auto;
        color: buttontext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: buttonface;
        writing-mode: horizontal-tb !important;
        margin: 0em;
        padding-block: 1px;
        padding-inline: 6px;
        border-width: 2px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
    }

    .hDMssA {
        background-color: rgb(236, 236, 236);
        cursor: pointer;
        outline: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-image: initial;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: rgb(105, 117, 134);
        box-sizing: border-box;
        min-height: 50px;
        flex-basis: 25%;
        border-left: 1px solid rgb(85, 91, 106);
        transition-duration: 100ms;
    }

    .cgArGS {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid rgb(182, 182, 183);
        background: rgb(255, 255, 255);
        overflow: hidden;
    }

    .eInmRM {
        color: rgb(19, 19, 24);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .WEawe {
        margin-top: 24px;
    }

    .AUnvm {
        background-color: rgb(236, 236, 236);
        cursor: pointer;
        outline: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-image: initial;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: rgb(105, 117, 134);
        box-sizing: border-box;
        min-height: 50px;
        flex-basis: 25%;
        border-left: 1px solid rgb(85, 91, 106);
        transition-duration: 100ms;
    }

    .hpGpvv {
        cursor: pointer;
        min-width: 16px;
        min-height: 16px;
        accent-color: rgb(48, 52, 255);
    }

    input[type="radio" i] {
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 0px 5px;
        padding: initial;
        border: initial;
    }

    .AUnvm:nth-child(1) {
        border: none;
    }

</style>

<script>

    document.querySelector(".sc-dGHUoD.dBCjbw").addEventListener("click", function () {
        var alisFiyati = parseFloat(document.querySelector(".sc-gkyvqJ.jtslPu input").value);

        var kdvOrani = document.querySelector(".sc-byEWUa.hDMssA").textContent;
        let result = kdvOrani.replace("%", "");
        var sdfs = parseFloat(result);

        debugger;

        var kdvDahilSatisFiyati = alisFiyati + (alisFiyati * sdfs / 100);
        debugger;

        document.querySelector(".sc-iCfpwr.eGsyrB span").textContent = "₺" + kdvDahilSatisFiyati.toFixed(2);
    });
</script>