/* Footer stilleri */
footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px 0;
}

.footer-categories {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.accordion{
    text-align:left;
    margin:20px
}

.footer-categories .categories {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

        .footer-categories .categories a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }

.footer-links {
    padding: 10px 0;
}

    .footer-links a {
        color: #000;
        text-decoration: none;
        display: block;
        margin-bottom: 5px;
    }

/* Sosyal medya bağlantıları */
.footer-socials {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

    .pagebuilder-column-line{
        display:flex;
        justify-content:center;
    }

    .footer-socials .instagram,
    .footer-socials .facebook,
    .footer-socials .twitter,
    .footer-socials .youtube,
    .footer-socials .linkedin {
        margin: 0 10px;
    }

    .footer-socials a {
        color: #000;
        text-decoration: none;
    }
.deneme {
    list-style: none;
}

.links {
    padding-inline-start: 0px;
}
a {
    color: #000;
    text-decoration: auto;
}