<div class="pagebuilder-column-line">
    <div class="pagebuilder-column">
        <div data-content-type="html">
            <div class="accordion">
                <span style="font-weight: 700; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;" class="title">Emirhan Ticaret</span>
                <ul class="links">
                    <li class="deneme"><a rel="nofollow" href="/hakkimizda">Hakkımızda</a></li>
                    <li class="deneme"><a rel="nofollow" href="/blog">Blog</a></li>
                    <li class="deneme"><a rel="nofollow" href="/iletisim-bilgileri">İletişim Bilgileri</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="Y9RUBX1">
        <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
            <div class="accordion">
                <span style="font-weight: 700; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;" class="title">SİPARİŞ</span>
                <ul class="links">
                    <li class="deneme"><a rel="nofollow" href="#">Sipariş Takibi</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">Teslimat ve Kargo</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">İptal İade ve Değişim</a></li>
                </ul>
            </div>
            <div class="accordion">
                <span style="font-weight: 700; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;" class="title">KATEGORİLER</span>
                <ul class="links">
                    <li class="deneme"><a href="#">Kadın</a></li>
                    <li class="deneme"><a href="#">Erkek</a></li>
                    <li class="deneme"><a href="#">Çocuk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="A5QVSW2">
        <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
            <div class="accordion">
                <span style="font-weight: 700; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;" class="title">YARDIM</span>
                <ul class="links">
                    <li class="deneme"><a rel="nofollow" href="#">Sıkça Sorulan Sorular</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">Gizlilik ve Güvenlik</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">Kullanım Şartları</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">Ön Bilgilendirme Metni</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">Mesafeli Satış Sözleşmesi</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">KVKK Aydınlatma Metni</a></li>
                    <li class="deneme"><a rel="nofollow" href="#">KVKK Başvuru Formu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="IBF4YX9">
        <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
            <div class="accordion socials">
                <span style="font-weight: 700; display: block; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px;" class="title">BİZİ TAKİP EDİN</span>
                <div class="footer-socials">
                    <div class="instagram">
                        <a rel="nofollow" href="https://www.instagram.com/dagicomtr/"><span>Instagram</span></a>
                    </div>
                    <div class="facebook">
                        <a rel="nofollow" href="https://tr-tr.facebook.com/DagiComTr/"><span>Facebook</span></a>
                    </div>
                    <div class="twitter">
                        <a rel="nofollow" href="https://twitter.com/DagiComTr"><span>Twitter</span></a>
                    </div>
                    <div class="youtube">
                        <a rel="nofollow" href="https://www.youtube.com/c/DagiGiyim"><span>Youtube</span></a>
                    </div>
                    <div class="linkedin">
                        <a rel="nofollow" href="https://tr.linkedin.com/company/dagi%CC%87"><span>Linkedin</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        &copy; @DateTime.Now.Year - E-Ticaret Sitesi